{{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
  {{ if .Site.DisqusShortname }}
    <div class="comments">
      <div id="disqus_thread"></div>
      <script>
          var disqus_config = function () {
            this.page.identifier = '/blog/{{ .Slug }}';
          };
          (function() { // DON'T EDIT BELOW THIS LINE
              if (["localhost", "127.0.0.1"].indexOf(window.location.hostname) != -1) {
                document.getElementById('disqus_thread').innerHTML = 'Disqus comments not available by default when the website is previewed locally.';
                return;
              }
              var d = document, s = d.createElement('script');
              s.src = '//{{ .Site.Params.disqusShortname }}.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  {{ end }}
{{ end }}